/Prioridad apropiativa/build/
/Prioridad apropiativa/nbproject/private/
/SRTF/build/
/SRTF/nbproject/private/
/Colas_Multiples_Retroalimentadas/build/
/Colas_Multiples_Retroalimentadas/nbproject/private/
/Colas_multiples/build/
/Colas_multiples/dist/
/Colas_multiples/nbproject/private/
/Prioridad no apropiativa/build/
/Prioridad no apropiativa/nbproject/private/
/RoundRobin/build/
/RoundRobin/dist/
/RoundRobin/nbproject/private/
/SJF/build/
/SJF/nbproject/private/